<h1>{{title}}</h1>

<div>
    <form [formGroup]="todoForm">
        <label>Tarefa: </label>
        <input type="text" placeholder="Digite aqui o título da tarefa" maxlength="200" formControlName="name"/><br/>
        <small *ngIf="todoForm.controls.name.invalid && todoForm.controls.name.dirty">
            Esse campo deve conter entre 5 e 100 caracteres<br/>
        </small>
        <button (click)="add()">Adicionar</button>
    </form>
</div>

<h3>Tarefas a serem iniciadas: </h3>
<div>
    <ul>
        <li *ngFor="let todo of createdTodos">{{todo.name}} <button (click)="start(todo)">Iniciar</button><button (click)="remove(todo)">Excluir</button></li>
    </ul>
</div>

<h3>Tarefas iniciadas: </h3>
<div>
    <ul>
        <li *ngFor="let todo of startedTodos">{{todo.name}} <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button><button *ngIf="todo.done" (click)="markAsUndone(todo)">Cancelar</button></li>
    </ul>
</div>
